<bc-alert-bar *ngIf="hasWarning" [color]="'warning'"
              [message]=warningMessage
              (dismissClick)="hasWarning = false">
</bc-alert-bar>
<div [ngClass]="{'search-container': isBigOrMediumScreen(), 'search-container-small': isSmallScreen()}">
  <div [ngClass]="{'options-line': isBigOrMediumScreen(), 'options-line-small': isSmallScreen()}">
    <div class="switch-wrapper">
      <p>{{ 'search.options.simple' | translate }}</p>
      <bc-switch (checkedChange)='searchOptionChanged($event)'></bc-switch>
    </div>
    <div *ngIf="withActivePersons" class="switch-wrapper">
      <p>{{ 'search.options.inactive-enabled' | translate }}</p>
      <bc-switch (checkedChange)='searchAndUpdateActivity($event)'></bc-switch>
    </div>
    <bc-dropdown
      [label]="'search.options.affiliation' | translate"
      [items]='affiliationOptions'
      [appearance]="'outline'"
      [displayExpr]="'displayValue'"
      [valueExpr]="'value'"
      [value]='selectedAffiliationOption'
      [width]="'200px'"
    ></bc-dropdown>
    <div class='flex-expander'></div>
  </div>

  <app-extended-search-mask
    *ngIf='showExtendedSearchOptions'
    (valid)='validUpdate($event)'
    (valueExtended)='valueUpdateExtended($event)'
    (startSearch)='search()'
    (clear)='clear()'
  ></app-extended-search-mask>

  <app-simple-search-mask
    *ngIf='!showExtendedSearchOptions'
    (value)='valueUpdate($event)'
    (valid)='validUpdate($event)'
    (startSearch)='search()'
    (clear)='clear()'
  ></app-simple-search-mask>

  <bc-skeleton [loading]='(isLoading | async) === true' [height]="'200px'">
    <div *ngIf="results">
      <app-search-result-table [data]="results"></app-search-result-table>
    </div>
  </bc-skeleton>
</div>
