<bc-alert-bar *ngIf="hasWarning" [color]="'warning'"
              [message]=warningMessage
              (dismissClick)="hasWarning = false">
</bc-alert-bar>
<div [ngClass]="{'search-container': isBigOrMediumScreen(), 'search-container-small': isSmallScreen()}">
  <div [ngClass]="{'options-line': isBigOrMediumScreen(), 'options-line-small': isSmallScreen()}">
    <bc-segmented-control-group
      [items]='searchOptions'
      [(value)]='selectedSearchOption'
      (valueChange)='searchOptionChanged($event)'
      class='element-margin-top control-group-width'
    ></bc-segmented-control-group>
    <bc-checkbox
      [label]="'search.options.inactive-enabled' | translate"
      class='element-margin-top-check'
      (checkedChange)='searchAndUpdateActivity($event)'
      [hidden]='!withActivePersons'
    ></bc-checkbox>
    <bc-dropdown
      [label]="'search.options.affiliation' | translate"
      [items]='affiliationOptions'
      [appearance]="'outline'"
      [displayExpr]="'displayValue'"
      [valueExpr]="'value'"
      [value]='selectedAffiliationOption'
      [width]="'200px'"
    ></bc-dropdown>
    <div class='flex-expander'></div>
  </div>

  <app-extended-search-mask
    *ngIf='showExtendedSearchOptions'
    (value)='valueUpdate($event)'
    (valid)='validUpdate($event)'
    (startSearch)='search()'
    (clear)='clear()'
  ></app-extended-search-mask>

  <app-simple-search-mask
    *ngIf='!showExtendedSearchOptions'
    (value)='valueUpdate($event)'
    (valid)='validUpdate($event)'
    (startSearch)='search()'
    (clear)='clear()'
  ></app-simple-search-mask>

  <bc-skeleton [loading]='(isLoading | async) === true' [height]="'200px'">
    <div *ngIf="results">
      <app-search-result-table [data]="results" [historySelector]="historySelector"></app-search-result-table>
    </div>
    <div *ngIf='!results && showSearchDescription'>
      <p class='line-header'>{{ 'search.search-description.title' | translate }}</p>
      <ul>
        <div *ngIf='showExtendedSearchOptions'>
          <li>{{ 'search.search-description.line1' | translate }}</li>
        </div>
        <div *ngIf='!showExtendedSearchOptions'>
          <li>{{ 'search.search-description.line1_Simple' | translate }}</li>
        </div>
        <li>{{ 'search.search-description.line2' | translate }}</li>
        <li>{{ 'search.search-description.line3' | translate }}</li>
        <li>{{ 'search.search-description.line4' | translate }}</li>
        <li>{{ 'search.search-description.line5' | translate }}</li>
        <li>{{ 'search.search-description.line6' | translate }}</li>
        <li>{{ 'search.search-description.line7' | translate }}</li>
      </ul>
    </div>
  </bc-skeleton>
</div>
