<bc-dialog>
  <form [formGroup]='form'>
    <div class="container">
      <p class="line-header">{{ 'person-detail.historySearch.title' | translate }}</p>
      <p class="line-detail">{{ 'person-detail.historySearch.text1' | translate }}</p>
      <p class="line-detail">{{ 'person-detail.historySearch.text2' | translate }}</p>
      <p class="line-detail"></p>
      <bc-radio-button-group class="radio-group"
                             [items]="radioGroup"
                             orientation="vertical"
                             [formControlName]="'dateType'"
      ></bc-radio-button-group>
      <div>
        <bc-date
          [width]="'300px'"
          [validation] = "true"
          [clearable]="true"
          [formControlName]="'selectedDate'"
        ></bc-date>
      </div>
    </div>
  </form>
  <div class="button-container">
    <bc-button mat-dialog-close color="primary"
               [label]="'person-detail.historySearch.button_cancel' | translate"
               variant="tertiary"></bc-button>
    <bc-button color="primary"
               [label]="'person-detail.historySearch.button_ok' | translate"
               (buttonClick)="onSubmit()"
               [disabled] = "form.invalid"
               variant="primary"></bc-button>
  </div>
</bc-dialog>
