.table-header {
  display: flex;
  justify-content: space-between;
}

.line-header {
  margin-top: 1em;
  font-weight: bolder;
  font-size: 110%;
}

.residence-wrapper {
  width: 50px;
}

.residences-container {
  display: flex;
}

.inactive {
  color: #c1c3cf;
}

.locked {
  color: #ea8798;
}

.clickable-row {
  cursor: pointer;
}
