<div *ngIf='isBigScreen()'>
  <p class='line-header'>{{ 'search.name-search.title' | translate }}</p>
  <form [formGroup]='form' (keydown.enter)='handleEnter($event)'>
    <div class='form-line'>
      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.official-name' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='1'
        [focusOnLoad]='true'
        [formControlName]=fieldNames.OFFICIAL_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.OFFICIAL_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.OFFICIAL_NAME)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.first-name' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='2'
        [formControlName]=fieldNames.FIRST_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.FIRST_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.FIRST_NAME)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.alliance-name' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='3'
        [formControlName]=fieldNames.ALLIANCE_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ALLIANCE_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.ALLIANCE_NAME)'
      ></bc-filter-text>

      <bc-filter-date-extended
        class = 'hover-icon'
        [label]="'search.name-search.date-of-birth' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='4'
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsDate
        [formControlName]=fieldNames.DATE_OF_BIRTH
        (filterChange)='filterChanged($event,fieldNames.DATE_OF_BIRTH,filterTypes.FILTER_DATE)'
        [hint]='showValidationError(fieldNames.DATE_OF_BIRTH)'
      ></bc-filter-date-extended>

      <bc-button
        class='button-top'
        [label]="'search.buttons.search' | translate"
        [variant]="'primary'"
        [tabIndex]='12'
        [disabled]=disableSearchButton()
        (buttonClick)='search()'
      ></bc-button>

      <bc-button
        class='width-fix button-top'
        [variant]="'tertiary'"
        [label]="'search.buttons.clear-filter' | translate"
        (buttonClick)='clearSearch()'
      ></bc-button>

      <div class='flex-expander'></div>
    </div>

    <p class='line-header line-header-top'>{{ 'search.address-search.title' | translate }}</p>
    <div class='form-line'>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.street' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='5'
        [formControlName]=fieldNames.STREET
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.STREET,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.STREET)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.house-number' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='6'
        [formControlName]=fieldNames.HOUSE_NUMBER
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.HOUSE_NUMBER,filterTypes.FILTER_NUMBER)'
        [maxlength]=MAX_LENGTH_12
        [hint]='showValidationError(fieldNames.HOUSE_NUMBER)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.zip-code' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='7'
        [formControlName]=fieldNames.ZIP_CODE
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ZIP_CODE,filterTypes.FILTER_NUMBER)'
        [maxlength]=MAX_LENGTH_4
        [hint]='showValidationError(fieldNames.ZIP_CODE)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.town' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='8'
        [formControlName]=fieldNames.TOWN
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.TOWN,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.TOWN)'
      ></bc-filter-text>

      <bc-dropdown
        class='rm-top hover-icon'
        [items]='(visibleOrganisations | async) ?? []'
        [clearable]='true'
        [valueExpr]="'organisationCode'"
        [displayExpr]="'organisationName'"
        [label]="'search.address-search.reporting-municipality' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='9'
        [formControlName]=fieldNames.REPORTING_MUNICIPALITY
        (valueChange)=filterMunicipalityChanged($event,fieldNames.REPORTING_MUNICIPALITY,filterTypes.FILTER_LIST)
        [hint]='showValidationError(fieldNames.REPORTING_MUNICIPALITY)'
      ></bc-dropdown>

    </div>

    <p class='line-header line-header-top line-header-bottom'>{{ 'search.id-search.title' | translate }}</p>
    <div class='form-line'>
      <bc-masked
        class='vn-top hover-icon'
        [label]="'search.id-search.vn' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [maskOptions]='vnMask'
        [tabIndex]='10'
        [clearable]='true'
        [formControlName]=fieldNames.VN
        (valueChange)='filterVNChanged($event,fieldNames.VN,filterTypes.FILTER_VN)'
        [hint]='showValidationError(fieldNames.VN)'
      ></bc-masked>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.id-search.other-ids' | translate"
        [appearance]="'outline'"
        [width]="'300px'"
        [tabIndex]='11'
        [formControlName]=fieldNames.ID
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ID,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_50
        [hint]='showValidationError(fieldNames.ID)'
      ></bc-filter-text>

    </div>
  </form>
</div>


<div *ngIf='isSmallOrMediumScreen()'>
  <form [formGroup]='form' (keydown.enter)='handleEnter($event)'>
    <div class='flex-row'>

      <bc-button
        [label]="'search.buttons.search' | translate"
        [variant]="'primary'"
        [tabIndex]='12'
        [disabled]=disableSearchButton()
        (buttonClick)='search()'
      ></bc-button>

      <bc-button
        class='width-fix'
        [variant]="'tertiary'"
        [label]="'search.buttons.clear-filter' | translate"
        (buttonClick)='clearSearch()'
      ></bc-button>

      <div class='flex-expander'></div>
    </div>
    <div class='search-container'>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.official-name' | translate"
        [appearance]="'outline'"
        [tabIndex]='1'
        [focusOnLoad]='true'
        [formControlName]=fieldNames.OFFICIAL_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.OFFICIAL_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.OFFICIAL_NAME)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.alliance-name' | translate"
        [appearance]="'outline'"
        [tabIndex]='3'
        [formControlName]=fieldNames.ALLIANCE_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ALLIANCE_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.ALLIANCE_NAME)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.name-search.first-name' | translate"
        [appearance]="'outline'"
        [tabIndex]='2'
        [formControlName]=fieldNames.FIRST_NAME
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.FIRST_NAME,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.FIRST_NAME)'
      ></bc-filter-text>

      <bc-filter-date-extended
        class = 'hover-icon'
        [label]="'search.name-search.date-of-birth' | translate"
        [appearance]="'outline'"
        [tabIndex]='4'
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsDate
        [formControlName]=fieldNames.DATE_OF_BIRTH
        (filterChange)='filterChanged($event,fieldNames.DATE_OF_BIRTH,filterTypes.FILTER_DATE)'
        [hint]='showValidationError(fieldNames.DATE_OF_BIRTH)'
      ></bc-filter-date-extended>

    </div>

    <div class='search-container'>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.street' | translate"
        [appearance]="'outline'"
        [tabIndex]='5'
        [formControlName]=fieldNames.STREET
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.STREET,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.STREET)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.zip-code' | translate"
        [appearance]="'outline'"
        [tabIndex]='7'
        [formControlName]=fieldNames.ZIP_CODE
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ZIP_CODE,filterTypes.FILTER_NUMBER)'
        [maxlength]=MAX_LENGTH_4
        [hint]='showValidationError(fieldNames.ZIP_CODE)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.house-number' | translate"
        [appearance]="'outline'"
        [tabIndex]='6'
        [formControlName]=fieldNames.HOUSE_NUMBER
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.HOUSE_NUMBER,filterTypes.FILTER_NUMBER)'
        [maxlength]=MAX_LENGTH_12
        [hint]='showValidationError(fieldNames.HOUSE_NUMBER)'
      ></bc-filter-text>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.address-search.town' | translate"
        [appearance]="'outline'"
        [tabIndex]='8'
        [formControlName]=fieldNames.TOWN
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.TOWN,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_150
        [hint]='showValidationError(fieldNames.TOWN)'
      ></bc-filter-text>

      <div class='flex-expander'></div>

      <bc-dropdown
        class='rm-top hover-icon'
        [items]='(visibleOrganisations | async) ?? []'
        [clearable]='true'
        [valueExpr]="'organisationCode'"
        [displayExpr]="'organisationName'"
        [label]="'search.address-search.reporting-municipality' | translate"
        [appearance]="'outline'"
        [tabIndex]='9'
        [formControlName]=fieldNames.REPORTING_MUNICIPALITY
        (valueChange)=filterMunicipalityChanged($event,fieldNames.REPORTING_MUNICIPALITY,filterTypes.FILTER_LIST)
        [hint]='showValidationError(fieldNames.REPORTING_MUNICIPALITY)'
      ></bc-dropdown>

    </div>

    <div class='search-container'>

      <bc-masked
        [label]="'search.id-search.vn' | translate"
        [appearance]="'outline'"
        [maskOptions]='vnMask'
        [tabIndex]='10'
        [formControlName]=fieldNames.VN
        (valueChange)='filterChanged($event,fieldNames.VN,filterTypes.FILTER_VN)'
        [hint]='showValidationError(fieldNames.VN)'
      ></bc-masked>

      <div class='flex-expander'></div>

      <bc-filter-text
        class = 'hover-icon'
        [label]="'search.id-search.other-ids' | translate"
        [appearance]="'outline'"
        [tabIndex]='11'
        [formControlName]=fieldNames.ID
        [operation]='FilterOperationId.EQUALS'
        [operations]=filterOperationsTextOrNumber
        (filterChange)='filterChanged($event,fieldNames.ID,filterTypes.FILTER_TEXT)'
        [maxlength]=MAX_LENGTH_50
        [hint]='showValidationError(fieldNames.ID)'
      ></bc-filter-text>

    </div>
  </form>
</div>

