.form-line {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.form-line-small {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  max-width: 95%;
}

.search-container {
  column-count: 2;
  column-span: all;
  gap: 0.5em;
}

.line-header {
  font-weight: bolder;
  font-size: 110%;
}

.line-header-top{
  margin-top: 1em;
}
.line-header-bottom{
  margin-bottom: 0;
}

.vn-top{
  margin-top: 0.3em;
}

.rm-top{
  margin-top: 0.3em;
}

.hover-icon{
  cursor:pointer ;
}

.flex-expander {
  flex-grow: 2;
}

.width-fix {
  min-width: 200px;
}

.button-top {
  margin-top: 0.2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px
}
