<bc-app-header-bar-iam
  link='/'
  logo='PER'
  title='PER Auskunft'
  [showAppDrawer]='true'
  [tenants]='userTenants'
  [tenant]='activeTenant'
  (click)='logoClicked($event)'
  (tenantChanged)="reloadPage()">
  <div *ngIf='getAuth()' class='dropdown-container'>
    <bc-dropdown [class]='"organisation-drop-down"'
                 [items]='viewOrganisations'
                 [value]="activeViewOrganisationId | async"
                 [placeholder]="'search.header.organisationPlaceholder' | translate"
                 [valueExpr]='"organisationCode"'
                 [displayExpr]='"organisationName"'
                 (valueChange)='activeViewOrganisationIdChanged($event)'></bc-dropdown>
  </div>

  <div *ngIf='showLabel' class='chip-container float-right'>
    <label class='chip-label'
           [style.background-color]='getEnvColor()'
    >{{ this.env }}</label>
  </div>

  <bc-icon-button class="help-container float-right"
                  [color]="'primary'"
                  [icon]="'question-circle-o'"
                  (buttonClick)='openPdf()'>
  </bc-icon-button>

</bc-app-header-bar-iam>

<div *ngIf='getAuth(); else permissionDenied'>
  <bc-alert-container></bc-alert-container>
  <router-outlet></router-outlet>
</div>
<ng-template #permissionDenied>
  <div *ngIf='getAuthDone()'>
    <div class='auth-container'>
      <h2>{{ 'no-permission-panel.title' | translate }}</h2>
      <bc-alert-bar
        message="{{'no-permission-panel.errorMessage' | translate}}"
        [color]="'error'"
        [displayDismissAction]='false'>
      </bc-alert-bar>
      <div>{{ 'no-permission-panel.descriptiveMessage' | translate }}
      </div>
      <bc-button class='button-container'
                 [color]="'warn'"
                 label="{{'no-permission-panel.signInWithOtherAccount' | translate}}"
                 [variant]="'primary'"
                 (buttonClick)='changeAccount()'>
      </bc-button>
    </div>
  </div>
</ng-template>


