<div [ngClass]="{'form-line': isBigScreen(), 'form-line-small': isSmallScreenOrMediumScreen()}">

  <form [formGroup]='form' >
    <div class='search-label'>
      {{ 'search.simple-search.label' | translate }}
    </div>

    <bc-search
      class='search-field'
      [focusOnLoad]='true'
      [matDivider]='true'
      [formControlName]="'simpleSearch'"
      [id]="'simpleSearch'"
      (searchClick)='handleSearchField()'
      [subscriptSizing]='"dynamic"'
      [maxlength]='150'
    ></bc-search>

    <div class='validation-field'>
      {{ showValidationError() }}<span>&nbsp;</span>
    </div>

  </form>

  <bc-button
    class='clear-filter-button'
    [variant]="'tertiary'"
    [label]="'search.buttons.clear-filter' | translate"
    (buttonClick)='clearSearch()'
  ></bc-button>

</div>

