.form-line {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.form-line-small {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 98%;
}

.search-label {
  line-height: 1.2em;
  font-size: 75%;
}

.search-field{
  width: 1000px;
}

.validation-field {
  line-height: 1.2em;
  transform: translateY(2px);
  font-size: 75%;
  color: #C21F39;
}

.clear-filter-button {
  min-width: 200px;
  align-items: center;
}
